/*Adicionar fontes na font family = Poppins Thin*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100; /*Tamanho (grossura) ideal da fonte > Thin = 100*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Extra Light*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200; /*Tamanho (grossura) ideal da fonte > ExtraLight = 200*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Light*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300; /*Tamanho (grossura) ideal da fonte > Light = 300*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Regular*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /*Tamanho (grossura) ideal da fonte > Regular = 400*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Medium*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500; /*Tamanho (grossura) ideal da fonte > Medium = 500*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Bold*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /*Tamanho (grossura) ideal da fonte > Bold = 700*/
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  /*Estilização da classe pai .NAV (barra superior)*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  background: linear-gradient(to right, #5bc5cc 0%, #024dae 100%);
}

.left-group {
  /*Estilização do grupo de itens que fica á esquerda do header (ícone de menu e logo)*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.center-group {
  /*Estilização do grupo de itens que fica no centro do header (barra de pesquisa e ícone de pesquisa)*/
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-group {
  /*Estilização do grupo de itens que fica á direita do header (ícone de perfil)*/
  display: flex;
  align-items: center;
}

/* Estilo do icone de perfil */

.user-actions {
  font-size: 35px;
  color: #f0f0f0;
}

.user-actions a {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}

.search-container {
  /*Estilização da barra de pesquisa*/
  position: relative;
  display: flex;
  width: 900px;
  align-items: center;
  z-index: 1;
}

.search-bar {
  /*Estilização da barra de pesquisa*/
  font-family: "Poppins";
  border-radius: 40px;
  outline: none;
  padding: 12px 40px;
  font-weight: 100;
  border: none;
  width: 100%;
  font-size: 18px;
}

.search-icon {
  /*Estilização do ícone de pesquisa */
  position: absolute;
  right: 20px;
  color: black;
  bottom: 16px;
}

.menu-button {
  /*Estilização do ícone de menu ☰*/
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
  color: white;
}

.header-item .logo {
  /*Estilização do logo*/
  height: 55px;
  margin-right: auto;
}

/* Menu dropdown principal */
.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 10px;
  background: white;
  color: black;
  width: 220px;
  border-radius: 8px;
  padding: 10px;
  display: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}

/* Submenus de primeiro e segundo nível */
.has-submenu > .submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.has-submenu:hover > .submenu {
  display: block;
}

/* Submenu dentro do menu principal */
.dropdown-menu > ul > .has-submenu > .submenu {
  top: 0;
  left: 220px;
}

/* Submenu link */
.submenu-btn-link {
  display: block;
  background-color: transparent;
  border: none;
  color: #333;
  padding: 8px 12px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.submenu-btn-link:hover {
  background-color: #024dae;
  color: white;
}

.FAQ{
  display: block;
  background-color: transparent;
  border: none;
  color: #333;
  padding: 8px 12px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.Sair{
    display: block;
  background-color: transparent;
  border: none;
  color: #333;
  padding: 8px 12px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

p {
  font-size: 34px;
  margin-top: 20px;
  font-weight: 400;
  margin-left: 40px;
}

body {
  font-family: "Poppins";
  src: url("src/Poppins-Regular.ttf") format("truetype");
  background-color: #fff;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
  color: black;
  border: none;
}

button:hover {
  background-color: #c4c4c4;
}

h2 {
  font-weight: 400;
}
/*Janla Flutuante*/
.modal {
  display: none; /*Fica escondida até clicar*/
  position: fixed; /*Fica no meio da tela*/
  transform: translate(-50%, -50%); /*Fica no meio da tela*/
  top: 50%; /*Posiciona pela topo*/
  left: 50%; /*Posiciona pelo lado esquerdo*/
  width: 380px;
  background-color: white;
  border-radius: 5%;
  z-index: 2000;
  padding: 20px;
  align-items: center;
  text-align: center;
}

select {
  width: 250px;
  height: 35px;
  text-align: center;
  margin-top: 7px;
  font-size: 15px;
  border-width: 1px;
}

.agendar1,
.data,
.entrada,
.descrição,
.valor {
  width: 250px;
  height: 35px;
  text-align: center;
  margin-top: 7px;
  font-size: 15px;
  border-width: 1px;
}

.Entradas {
  position: fixed;
  bottom: 180px; /* Distância da parte inferior da janela */
  left: 20px; /* Distância da parte esquerda da janela */
  padding: 10px 20px; /* Espaçamento interno do botão */
  width: 180px;
  height: 40px;
  text-align: left;
}
.Saidas {
  position: fixed;
  bottom: 140px;
  left: 20px;
  padding: 10px 20px;
  width: 180px;
  height: 40px;
  text-align: left;
}
.Economias {
  position: fixed;
  bottom: 100px;
  left: 20px;
  padding: 10px 20px;
  width: 180px;
  height: 40px;
  text-align: left;
}
h3 {
  position: fixed;
  bottom: 240px;
  left: 20px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 34px;
}

.input-confirmar {
  background-color: black; /*cor de fundo*/
  color: white; /*cor da fonte*/
  font-size: 13px;
  font-family: "poppins";
  width: 130px;
  height: 35px;
  right: 50px;
  cursor: pointer; /*coloquei o ponteiro de selecionar*/
  border: none;
  font-weight: bold;
  bottom: 100px;
  position: fixed;

  transition: background-color 0.5s; /*****Coloquei uma transição para o botão mudar de cor*/
}
.input-confirmar:hover {
  /*****Usei o hover para executar a ação de mudar de cor e coloquei uma cor de fundo pra ele fazer isso*/
  background-color: #024dae;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.dash-header {
  position: fixed;
  margin-top: 20px; /* Ajuste a distância do topo conforme necessário */
  left: 50%; /* Posiciona a borda esquerda no centro da tela */
  transform: translateX(
    -50%
  ); /* Desloca o elemento metade da sua largura para a esquerda */
  font-size: 24px;
  font-weight: 400;
  z-index: 998;
  padding: 5px; /* Opcional */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.charts-row {
  display: flex; /* Ativa o alinhamento horizontal */
  justify-content: space-around; /* Espaça os gráficos uniformemente */
  align-items: center; /* Alinha os gráficos verticalmente */
  flex-wrap: nowrap; /* Permite que os gráficos se ajustem em telas menores */
}

.chart-container {
  width: 200px; /* Define o tamanho dos gráficos */
  height: 250px;
  padding: 10px; /* Espaço ao redor */
}
canvas {
  width: 100%;
  height: 100%;
}
