*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 500;
    font-size: 40;
    color: white;
    padding: 10px;
}
.search-conteiner { /* Estilo da barra de pesquisa */
    display:flex;
    position: absolute;
    transform: translateX(-50%);
    width: 900px;
    z-index: 1;
    align-items: center;
    left: 50%;
   /* margin-right: -300px;*/
}

.search-bar { 
 border-radius: 40px;
 outline: none; 
 padding: 12px 40px;
 font-weight: 100;
 border: none;
 width: 100%;
 
}
.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #55c3cc, #004aad);
    padding: 10px 20px;
   
}

#botaovoltar {
    padding-left: 10px;
    font-size: 24px; 
    cursor: pointer; /*coloquei o ponteiro de selecionar*/
    display: inline-block;
}

/*Icone de Seta para voltar para a página anterior*/
i.fa-circle-left {
    text-decoration: none; /* remove o sublinhado do link */
    color: white; 
    font-size: 35px; 
    margin-right: 10px; 
}

#cabecalho {
    
    font-size: 15px;
    font-family: "Poppins"; 
    font-weight: 40;
    background: linear-gradient(to right, #5bc5cc, #024dae);/*cor do cabeçalho, usando o gradiente de duas cores*/
    height: 50px;
    padding: 10px, 20px;
    display: flex;
    align-items: center;/*alinhamento vertical dos botão de voltar e do nome Bmind dentro do cabeçalho*/
}

p {
    font-size: 34px;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 40px;
    ;
}

body { 
    font-family: "Poppins"; 
    src: url("src/Poppins-Regular.ttf") format("truetype");
    background-color: #fff; 
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
    color:black;
    border: none;
  }
  
  button:hover {
    background-color: #c4c4c4;
  }

  h2 {
    font-weight: 400;
  }
  /*Janla Flutuante*/
  .modal {
    display: none; /*Fica escondida até clicar*/
    position: fixed; /*Fica no meio da tela*/
    transform: translate(-50%, -50%);/*Fica no meio da tela*/
    top: 50%; /*Posiciona pela topo*/
    left: 50%; /*Posiciona pelo lado esquerdo*/
    width: 380px;
    background-color: white;
    border-radius: 5%;
    z-index: 1000;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  
  select {
    width: 250px;
    height: 35px;
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    border-width: 1px;
  }

.agendar1, .data, .entrada, .descrição, .valor {
    width: 250px;
    height: 35px;
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    border-width: 1px;
}

.Entradas {
    position: fixed;
    bottom: 180px; /* Distância da parte inferior da janela */
    left: 20px; /* Distância da parte esquerda da janela */
    padding: 10px 20px; /* Espaçamento interno do botão */
    width: 180px;
    height: 40px;
    text-align: left;
}
.Saidas {
    position: fixed;
    bottom: 140px; 
    left: 20px; 
    padding: 10px 20px; 
    width: 180px;
    height: 40px;
    text-align: left;
}
.Economias {
    position: fixed;
    bottom: 100px; 
    left: 20px; 
    padding: 10px 20px; 
    width: 180px;
    height: 40px;
    text-align: left;
}
h3 {
    position: fixed;
    bottom: 240px; 
    left: 20px; 
    padding: 10px 20px; 
    font-weight: 400;
    font-size: 34px;
}

.input-confirmar {
    background-color: black;/*cor de fundo*/
    color: white;/*cor da fonte*/
    font-size: 13px;
    font-family: "poppins"; 
    width: 130px;
    height: 35px;
    right:50px;
    cursor: pointer; /*coloquei o ponteiro de selecionar*/
    border: none;
    font-weight: bold;
    bottom: 100px;
    position: fixed;
    
    transition: background-color 0.5s; /*****Coloquei uma transição para o botão mudar de cor*/
}
.input-confirmar:hover {/*****Usei o hover para executar a ação de mudar de cor e coloquei uma cor de fundo pra ele fazer isso*/
    background-color:#024dae;
    }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .close {
    float: right;
    font-weight: bold;
    cursor: pointer;
  }

 /* BARRA DATA */

/* Deixa o seletor de mês centralizado visualmente */
.month-selector {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 0px;
  gap: 20px;
}


   /*   DASHBOARD (AGUARDANDO)  */

.month-panel {
  margin: 20px auto;
  padding: 20px;
  width: 600px;
  background-color: #f0f0f0;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
    
