/*Download da fonte: https://fontmeme.com/fontes/fonte-poppins/#previewtool + Importação: https://cursos.alura.com.br/forum/topico-importacao-de-fontes-409962*/

/*Adicionar fontes na font family = Poppins Thin*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100; /*Tamanho (grossura) ideal da fonte > Thin = 100*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Extra Light*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200; /*Tamanho (grossura) ideal da fonte > ExtraLight = 200*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Light*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300; /*Tamanho (grossura) ideal da fonte > Light = 300*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Regular*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /*Tamanho (grossura) ideal da fonte > Regular = 400*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Medium*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500; /*Tamanho (grossura) ideal da fonte > Medium = 500*/
  font-style: normal;
}

/*Adicionar fontes na font family = Poppins Bold*/
@font-face {
  font-family: "Poppins";
  src: url("/src/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /*Tamanho (grossura) ideal da fonte > Bold = 700*/
  font-style: normal;
}

body {
  /*Estilização geral do corpo da página */
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f8;
}

header {
  /*Estilização da classe pai .NAV (barra superior)*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  background: linear-gradient(to right, #5bc5cc 0%, #024dae 100%);
}

.left-group {
  /*Estilização do grupo de itens que fica á esquerda do header (ícone de menu e logo)*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.center-group {
  /*Estilização do grupo de itens que fica no centro do header (barra de pesquisa e ícone de pesquisa)*/
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-group {
  /*Estilização do grupo de itens que fica á direita do header (ícone de perfil)*/
  display: flex;
  align-items: center;
}

/* Ícone de perfil */
.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  font-size: 29px;
  color: white;
 
}
/* Botão 'Minha Área' */
.minha-area-botao {
 display: inline-block;           /* Para permitir padding e margin corretamente */
  margin: 4px;                    /* Espaço externo ao redor do botão */
  padding: 6px 12px;               /* Espaço interno (em cima/baixo e lados) */
  background-color: #ffffff22;     /* Cor de fundo (semi-transparente aqui) */
  color: white;                    /* Cor do texto */
  border: 1px solid white;        /* Borda branca */
  border-radius: 6px;             /* Cantos arredondados */
  text-decoration: none;          /* Tira o sublinhado */
  font-weight: bold;              /* Deixa o texto mais forte */
  font-size: 10px;
}

.user-actions a { /* Link para o perfil */
  color: white;
  text-decoration: none;
}

#login-nao-logado a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold; /* Deixa o texto mais forte */
 font-size: 15px; /* Tamanho da fonte */

}

.search-container {
  /*Estilização da barra de pesquisa*/
  position: relative;
  display: flex;
  width: 900px;
  align-items: center;
  z-index: 1;
}

.search-bar {
  /*Estilização da barra de pesquisa*/
  font-family: "Poppins";
  border-radius: 40px;
  outline: none;
  padding: 12px 40px;
  font-weight: 100;
  border: none;
  width: 100%;
  font-size: 18px;
}

.search-icon {
  /*Estilização do ícone de pesquisa */
  position: absolute;
  right: 20px;
  color: black;
  bottom: 16px;
}

.header-item .logo {
  /*Estilização do logo*/
  height: 55px;
  margin-right: auto;
}

.header-icon {
  /*Estilização do ícone de seta na classe .nav-icon, que está dentro de nav pai (Seta)*/
  font-size: 35px;
  color: #ffffff;
}

.header-link {
  /*Estilização do link ligado ao ícone de seta na classe .nav-link, que está dentro de nav pai (Seta)*/
  background-color: transparent;
  border: unset;
  text-decoration: none;
}

.titulo-results {
  max-width: 100vw;
  padding: 0 20px;
  display: flex;
  justify-content: left;
  margin-top: 80px;
  margin-bottom: 30px;
}

.container-results {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff; /* igual ao fundo da imagem que você mandou */
  width: auto;
}

h1 {
  margin-bottom: 20px;
  color: #111;
}

.plan-img {
  /*Estilização da imagem no posicionamento na página*/
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

img {
  max-height: 546px;
  max-width: 546px;
  border-radius: 10px;
  object-fit: cover;
}

.plan-link {
  text-decoration: none; /* Remove a linha do hiperlink */
}

.plan-link h2 {
  color: #37a6d1; /* Altera a cor do hiperlink */
  font-size: 24px;
  margin-bottom: 10px;
}

.plan-descricao {
  color: #222;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  width: auto;
}

.card {
  /* /* Add shadows to create the "card" effect  */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px 40px;
  margin: 0px 0px 20px 0px;
  width: 93vw;
}

/* /* On mouse-over, add a deeper shadow  */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* /* Add some padding inside the card container  */
.container {
  padding: 2px 16px;
}
